
body {
    background-color: #f8f9fa;
    font-family: Poppins, sans-serif;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-header {
    font-weight: 500;
}

.card-body-home {
    height: 10vh;
    display: flex;
    margin: 0 0 10px 20px;
    align-items: end;
}

.navbar-brand {
    margin: 0 2.5rem 0 2.5rem;
    justify-content: start;
}

.table {
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.navbar {
    margin-bottom: 20px;
    height: 12vh;
}

.text-success {
    font-weight: 500;
}

.text-danger {
    font-weight: 500;
}

/* Filtro */
.filter-box {
    background: #f8f9fa;
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.filter-box select {
    max-width: 400px;
}

/* Gráficos */
.plotly-graph-div {
    height: 400px;
}

.card {
    margin-bottom: 2rem;
    border-radius: 10px;
}

.shadow {
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}