{% extends "base.html" %}

{% block content %}
<div class="p-2">
    <h2>Gerenciamento de Usuários</h2>
</div>

<div class="table-responsive-md">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Email</th>
                <th>UID</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td class="text-muted small">{{ user.uid }}</td>
                <td>
                    {% if user.custom_claims and user.custom_claims.get('admin') %}
                    <span class="badge bg-primary bg-gradient">Admin</span>
                    {% else %}
                    <span class="badge bg-secondary">Usuário</span>
                    {% endif %}
                </td>
                <td>

                    {% if user.custom_claims and user.custom_claims.get('admin') %}
                    <a href="{{ url_for('main.remover_admin', uid=user.uid) }}"
                        class="btn btn-sm btn-danger bg-gradient"
                        onclick="return confirm('Remover privilégios de admin deste usuário?')">
                        Remove Admin
                    </a>
                    {% else %}
                    <a href="{{ url_for('main.promover_admin', uid=user.uid) }}"
                        class="btn btn-sm btn-success bg-gradient"
                        onclick="return confirm('Tornar este usuário administrador?')">
                        Tornar Admin
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}