{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="card shadow">
                <div class="card-header bg-info text-white">
                    <h2><i class="bi bi-shield-lock"></i> Política de Privacidade</h2>
                </div>

                <div class="card-body" style="text-align: justify;">
                    <p class="text-muted">Última atualização: {{ data_atual }}</p>

                    <section class="mb-5">
                        <h3 class="mb-3">1. Política de Privacidade</h3>
                        <p>A Insight Finance tem como compromisso o respeito pela privacidade de seus clientes,
                            funcionários e demais visitantes que utilizam nossas plataformas, bem como a proteção e a
                            segurança de seus dados.</p>
                        <p>
                            A Insight Finance reconhece que sua segurança e privacidade são muito importantes, portanto,
                            adotamos todas as medidas possíveis, dentro das melhores práticas e soluções existentes,
                            para protegê-lo. Nesse sentido, recomendamos que todos nossos clientes tenham conhecimento
                            de nossas práticas.
                        </p>
                        <p>
                            Esta Política de Privacidade destina-se a ajudar você a entender quais informações
                            coletamos, porque as coletamos e como você pode exercer seu direito sob o tratamento dos
                            seus dados pessoais na Insight Finance, ou seja, como nós garantimos a segurança das suas
                            informações e como você pode acessá-las e solicitar alterações, por exemplo.
                        </p>

                    </section>

                    <section class="mb-5">
                        <h3 class="mb-3">2. Dados Coletados</h3>
                        <p>Coletamos e tratamos informações fornecidas por você, através do preenchimento dos
                            formulários disponíveis em nossas plataformas, sendo assim, entendemos que você declara que
                            concorda com nossa política de privacidade, especialmente quando realiza o cadastro e aceita
                            os termos e condições de uso das nossas plataformas.</p>
                        <p>Coletamos os seguintes tipos de informações:</p>
                        <ul>
                            <li>Dados de identificação: nome, email</li>
                            <li>Dados financeiros: transações, categorias</li>
                            <li>Dados técnicos: IP, navegador, dispositivo, tokens</li>
                        </ul>
                        <p><strong>dados pessoais sensíveis:</strong></p>
                        <ul>
                            <li>IP: identificamos o número de endereço IP ao acessar nossas plataformas, a fim de
                                aumentar a segurança, visto que, em caso de fraude, forneceremos o mesmo às autoridades
                                competentes
                            </li>
                            <li>
                                Informações de Dispositivo: coletamos informações sobre o modelo, sistema operacional,
                                idioma de preferência, identificadores únicos e número de série do dispositivo
                            </li>
                            <li>
                                Informações de Transações Financeiras: coletamos informações de transações financeiras
                                para possibilitar e comprovar a assinatura de nossos serviços, tal como para prover a
                                melhor utilização de nossas plataformas ao usuário
                            </li>
                        </ul>
                    </section>

                    <section class="mb-5">
                        <h3 class="mb-3">3. Tratamento dos Dados</h3>
                        <p>Seus dados são utilizados para:</p>
                        <ul>
                            <li>Fornecer funcionalidades da plataforma</li>
                            <li>Melhorar nossos serviços</li>
                            <li>Enviar alertas importantes</li>
                            <li>Desenvolver e melhorar nossos serviços e produtos</li>
                        </ul>
                        <p>
                            Todos os dados e informações pessoais serão tratados como confidenciais, e somente
                            utilizados para os fins aqui descritos e autorizados, principalmente para que se possa
                            utilizar nossos serviços de forma plena, visando sempre melhorar a experiência de
                            nossos clientes. Dessa forma, podemos personalizar nossos serviços e produtos para
                            adequá-los, cada vez mais, às suas preferências, necessidades e interesses.
                        </p>
                    </section>

                    <section class="mb-5">
                        <h3 class="mb-3">4. Bases legais</h3>
                        <p>Adequamos todos os nossos processos que coletam e tratam dados às bases legais previstas no
                            artigo 7 da LGPD (Lei Geral de Proteção de Dados).</p>
                        <p>
                            As bases legais que utilizamos são:
                        </p>
                        <ul>
                            <li>Consentimento pelo titular</li>
                            <li>Cumprimento de obrigação legal ou regulatória pelo controlador</li>
                            <li>Execução de contrato ou de procedimentos preliminares</li>
                            <li>Interesses legítimos do controlador ou de terceiros</li>
                        </ul>
                    </section>

                    <section class="mb-5">
                        <h3 class="mb-3">5. Proteção de dados pessoais</h3>
                        <p>
                            A Insight Finance informa que preza e aprimora continuamente suas medidas de segurança,
                            técnicas e administrativas necessárias para proteger os dados armazenados contra acessos não
                            autorizados, situações acidentais ou ilícitas de destruição, perda, alteração, comunicação
                            ou qualquer forma de tratamento inadequado ou ilícito, de acordo com a tecnologia disponível
                            atualmente.
                        </p>
                        <p>
                            Ainda, a Insight Finance respeita e protege seus dados conforme as principais normas de
                            segurança e demais legislações brasileiras. Aplicamos os princípios de Privacy By Design
                            (privacidade no desenvolvimento ou desde a concepção), efetuando tratamento dos dados apenas
                            com garantia de alto nível de segurança e implementado as melhores práticas de proteção de
                            dados.
                        </p>
                    </section>

                    <section class="mb-5">
                        <h3 class="mb-3">6. Responsabilidade do titular de dados pessoais</h3>
                        <p>
                            Nossas plataformas podem solicitar permissão para acessar serviços e arquivos em seu
                            dispositivo, portanto, lembre-se de que qualquer conteúdo enviado por você a uma de nossas
                            plataformas será de sua responsabilidade.
                        </p>
                        <p>
                            Para garantir a sua segurança, ressaltamos alguns cuidados muito importantes:
                        </p>
                        <ul>
                            <li>Proteja suas credenciais de acesso (senhas, assinaturas eletrônicas, códigos de
                                segurança, etc.), elas são pessoais e intransferíveis
                            </li>
                            <li>
                                A Insight Finance não entra em contato com o cliente, por qualquer meio, para solicitar
                                senhas de acessos, assinaturas eletrônicas, tokens ou qualquer código ou resposta de
                                segurança
                            </li>
                        </ul>
                        <p>
                            <strong>
                                No caso de qualquer suspeita, entre em contato imediatamente com a Insight Finance
                                através de um de nossos principais canais oficiais.
                            </strong>
                        </p>
                    </section>

                    <section class="mb-5">
                        <h3 class="mb-3">7. Controle da política</h3>
                        <p>
                            Podemos atualizar nossa Política de Privacidade periodicamente, entretanto, notificaremos
                            você de quaisquer alterações. Todavia, é aconselhável rever nossa Política de Privacidade de
                            tempos em tempos para consultar quaisquer alterações.
                        </p>
                        <p>
                            As mudanças de nossa Política de Privacidade são efetivadas quando postadas nesta página.
                        </p>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}