{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="card shadow" style="text-align: justify;">
                <div class="card-header bg-primary text-white">
                    <h2><i class="bi bi-file-earmark-text"></i> Termos de Uso</h2>
                </div>

                <div class="card-body">
                    <p class="text-muted">Última atualização: {{ data_atual }}</p>

                    <section class="mb-5">
                        <h3 class="mb-3" style="text-align: left;">1. Aceitação dos Termos</h3>
                        <p>Ao utilizar a plataforma Insight Finance, você concorda com estes termos:</p>
                        <p>A Plataforma “Insight Finance”, de legítima e exclusiva propriedade de Matheus Santos Lima,
                            tem como objetivo servir como ferramenta para gestão financeira e responsabiliza você,
                            Usuário, ao cumprimento destes Termos e Condições Gerais de Uso.

                            Os Termos e Condições Gerais de Uso são inteiramente publicizados, desta forma, não será
                            considerado que seja alegado desconhecimento das regras e obrigações aqui estabelecidas.
                        </p>
                    </section>

                    <section class="mb-5">
                        <h3 class="mb-3" style="text-align: left;">2. Uso Adequado</h3>
                        <p>O usuário compromete-se a:</p>
                        <ul>
                            <li>Fornecer informações precisas e atualizadas</li>
                            <li>Não utilizar a plataforma para atividades ilegais</li>
                            <li>Responsabilizar-se por todas as atividades em sua conta</li>
                        </ul>
                        <p>Insight Finance é uma Plataforma online de controle financeiro pessoal que auxilia pessoas a
                            gerenciarem suas finanças de forma simples e fácil. A Plataforma possibilita o cadastramento
                            de suas transações com certos tipos de informações financeiras (tais como realização de
                            lançamentos e agendamentos de receitas, despesas e transferências, sua categorização,
                            visualização de relatórios, dentre outros recursos) para auxílio no gerenciamento financeiro
                            pessoal</p>
                        <p>O uso da nossa Plataforma não lhe confere direito de propriedade intelectual sobre o conteúdo
                            que você acessar ou serviços relacionados. O uso comercial da expressão "Insight Finance"
                            como marca, nome empresarial ou nome de domínio, bem como dos logos, marcas, insígnias,
                            layout da
                            Plataforma, conteúdo das telas relativas aos serviços da Plataforma e o conjunto de
                            programas, bancos de dados, redes e arquivos que permitem que o Usuário acesse e use sua
                            conta, são de propriedade da Insight Finance e estão protegidos pelas leis e pelos tratados
                            internacionais de direito autoral, de marcas, de patentes, de modelos e de desenhos
                            industriais.</p>
                    </section>

                    <section class="mb-5">
                        <h3 class="mb-3" style="text-align: left;">3. Cadastro e Conta</h3>
                        <p>Você precisará criar uma Conta para utilizar nossa Plataforma. Cabe integralmente ao Usuário
                            a responsabilidade pela integridade e veracidade de seu respectivo cadastro, se
                            comprometendo a partir de então, a manter seus dados sempre atualizados, sob pena de
                            responder civil e criminalmente além de arcar com os danos ocasionados pela utilização de
                            dados incorretos, ou de terceiros, independentemente da existência de culpa.</p>
                        <p>Ao realizar o cadastro na plataforma , o titular pode adicionar e/ou remover usuários
                            adicionais, bem como alterar os dados de cadastro. Assim, todos os usuários adicionais estão
                            submetidos ao usuário titular inclusive para permanecerem ativos. </p>
                        <p>É de inteira responsabilidade do Usuário manter o ambiente de seu computador, celular ou
                            tablet seguro, com o uso de ferramentas disponíveis como antivírus e firewall, entre outras,
                            de modo a contribuir na prevenção de riscos eletrônicos e, ainda, sempre utilizar-se de
                            softwares atualizados e eficientes.</p>
                        <p>
                            A senha cadastrada pelo Usuário é de uso pessoal e intransferível, sendo o Usuário o único
                            responsável em caso de utilização indevida por terceiros. A senha poderá ser alterada a
                            qualquer momento pelo Usuário, através do "Esqueci minha senha", na página de login. Para
                            maiores informações sobre dados pessoais coletados pela Insight Finance, finalidades de
                            tratamento, possibilidade de compartilhamento, bem como dos direitos dos titulares, o
                            CLIENTE deverá acessar a Política de Privacidade da Insight Finance, que se encontra
                            disponível
                            no cadastro da plataforma.
                        </p>
                        <p>
                            <strong>Para proteger sua Conta, o Usuário deve manter a senha em sigilo.</strong> A
                            atividade realizada na
                            Conta ou por seu intermédio é de responsabilidade do Usuário. Não recomendamos que a senha
                            da Conta seja reutilizada em aplicativos de terceiros. <strong>Caso tome conhecimento de uso
                                não
                                autorizado da sua senha ou Conta, é de responsabilidade do Usuário alterar sua
                                senha.</strong>
                            Recomendamos como forma de manter um maior nível de segurança que o Usuário altere sua senha
                            periodicamente.
                        </p>
                        <p>O Usuário concorda em usar a Plataforma apenas conforme previsto nestes Termos de Uso.
                            Concorda também em não usar a Plataforma de qualquer forma que esteja em conflito com a
                            legislação.</p>
                    </section>
                    <section class="mb-5">
                        <h3 class="mb-3" style="text-align: left;">4. Segurança e privacidade de dados</h3>
                        <p>A Política de Privacidade da Insight Finance discorre sobre o tratamento de dados pessoais e
                            medidas de proteção à privacidade de nossa Plataforma. Ao utilizar nossa Plataforma, você
                            concorda que a Insight Finance poderá usar esses dados de acordo com nossa Política de
                            Privacidade. A Política de Privacidade é parte integrante e inseparável destes Termos de Uso
                            e Condições de Utilização das Plataformas e, se encontra disponível para consulta no
                            cadastro da plataforma.</p>

                    </section>

                    <section class="mb-5">
                        <h3 class="mb-3" style="text-align: left;">5. Modificação e cancelamento do uso da plataforma
                        </h3>
                        <p>Estamos constantemente alterando e melhorando nossos Serviços. Podemos incluir ou remover
                            funcionalidades ou recursos e podemos também suspender ou encerrar um serviço por completo.
                        </p>
                        <p>Em caso de suspeita ou constatação de fraude, a Insight Finance entrará em contato com o
                            usuário e poderá suspender por tempo indeterminado a sua conta, inclusive para sua própria
                            segurança.</p>
                        <p>
                            Você pode deixar de usar nossos Serviços a qualquer momento, embora fiquemos chateados ao
                            ver você ir embora. Para verificar o procedimento, acesse a Política de Privacidade. A
                            Insight Finance também poderá deixar de prestar os Serviços a você, incluir ou criar novos
                            limites a nossos Serviços a qualquer momento.
                        </p>
                    </section>

                    <section class="mb-5">
                        <h3 class="mb-3" style="text-align: left;">6. Responsabilidade pelo uso da plataforma</h3>
                        <p>Após aceite eletrônico dos presentes Termos de Uso, a Insight Finance disponibilizará os
                            dados de acesso aos Usuários de acordo com os termos ora pactuados, permitindo o acesso a
                            todas as ferramentas disponibilizadas aos Usuários após a liberação do login.
                        </p>
                        <p>
                            A Insight Finance garante que, durante o prazo de utilização da Plataforma pelos Usuários,
                            esta funcionará regularmente em bases razoáveis, todavia, é importante frisar que a Insight
                            Finance opera com parceiro de hospedagem e parceiros de processamento computacional que tem
                            um nível de SLA de 99,5%.
                        </p>
                        <p>
                            Portanto, excluem-se os casos de indisponibilidade e os demais descritos abaixo:
                        </p>
                        <ul>
                            <li>Defeito proveniente de mau uso da Plataforma, devido ao não atendimento aos preceitos
                                estabelecidos pela Insight Finance, tais como a falta de conexão com a internet, a
                                bateria
                                descarregada ou qualquer outro defeito eletrônico do dispositivo, incompatibilidade de
                                hardware, sistema operacional, utilização de plugins e extensões de terceiros em
                                browser, memória insuficiente, etc</li>
                            <li>Caso seja constatado que o sistema tenha sido utilizado ou violado por terceiros não
                                autorizados, bem como problemas decorrentes de procedimentos não indicados nos manuais
                                técnicos, como hacking, cracking, crawler, mashups</li>
                            <li>Problemas oriundos das companhias de serviços telefônicos que disponibilizam sinais para
                                acesso à internet, sendo considerado caso fortuito e de força maior</li>
                            <li>Pelo mal funcionamento do equipamento ocasionado por queda ou indisponibilidade do
                                servidor onde se encontra hospedado o Gateway de SMS e o serviço de envio de e mails
                            </li>
                            <li>A Insight não se responsabiliza pelo acesso ou exportação de dados cujo os seus serviços
                                foram adquiridos junto a intermediários. Cabendo ao usuário a responsabilidade de cobrar
                                do intermediário o acesso ou exportação dos dados que foram incluídos na Plataforma</li>
                            <li>Não estão inclusos no serviço de atendimento e suporte: instalações e visitas de
                                qualquer natureza, recuperação de banco de dados, demais procedimentos que não sejam o
                                esclarecimento de dúvidas e prestação de informações relacionadas exclusivamente a
                                Insight Finance</li>
                        </ul>
                    </section>

                    <section class="mb-5">
                        <h3 class="mb-3" style="text-align: left;">7. Direitos autorais</h3>
                        <p>Os programas de computador, arquivos, textos, ícones, desenhos, vídeos, sons, marcas,
                            logotipos, layouts, templates, inseridos na Plataforma são protegidos por direitos de
                            propriedade intelectual da Insight Finance ou de terceiros que autorizaram sua utilização.
                            Sendo assim, estão protegidos pelas leis e pelos tratados internacionais, sendo vedada sua
                            cópia, alteração, reprodução, ou qualquer outro tipo de utilização, ficando os infratores
                            sujeitos às sanções civis e criminais correspondentes, nos termos das Leis nº 9.279/96, nº
                            9.610/98 e nº 9.609/98. Qualquer violação aos direitos de Propriedade Intelectual poderá
                            culminar, além da incidência das responsabilidades legais, no bloqueio sumário e sem aviso
                            prévio do Usuário, ocasião em que nada será devido a este.
                        </p>
                        <p>
                            Ademais, as marcas, os nomes comerciais ou logotipos de qualquer espécie apresentados por
                            meio da Plataforma são de propriedade da Insight Finance ou de terceiro que permitiu o seu
                            uso, de modo que a utilização da Plataforma não consiste em autorização para que o Usuário
                            possa citar as tais marcas, nomes comerciais e logotipos.
                        </p>
                    </section>

                    <div class="alert alert-info">
                        <i class="bi bi-info-circle"></i>
                        Dúvidas? Entre em contato pelo email: flaskfinances@gmail.com
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}